h1 {
    color:black;
}

input[type="file"] {
    display: none;
}


.btn-upload {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    display: block;
    width: 150px;
    margin: 0 auto;
}
  
.btn-upload:hover {
    background-color: #3e8e41;
}


.main-page {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.main-page-head {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}